#timeline-container {
	position: absolute; 
	bottom: 20px;
	left: 20px; 
	right: 20px;
	/*
	color: black;
	background-color: 0x483D8B;
	opacity: 0.5;
  */
}

:root {
  --top: 100px;
  --color: white;
}

#timeline {
  margin-left: 20px;
  margin-right: 20px;
  bottom: 20px;
  height: 400px;
  width: 100%;
}

body {
  margin: 20px;
  overflow: hidden;
}

header {
  background-color: #004477;
  color: orange;
}

h1 {
  float: left;
  margin-left: 10px;
  margin-right: 20px;
}

h2 {
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}

nav {
  position: absolute;
  left: 20px;
  top: var(--top);
  z-index: 20;
}

nav > li {
  width: 50px;
  height: 50px;
}

ul.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

ul.menu > li {
  float: left;
}

ul.menu > li > a {
  display: block;
  color: var(--color);
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

ul.menu > li > a:hover {
  background-color: black;
}

#display {
  position:absolute;
  left: 20px;
  top: 20px;
  right: 20px;
  bottom: 20px;
  z-index: -20;
  color: var(--color);
}

.shadow {
  box-shadow: inset 0 0 10px #000000;
}

.fl {
  float: left;
}

.box {
  display: flex;
}

.down {
  flex-direction: column;
}

#content {
  margin: 30%;
}

.major {

}

.minor {
  position: relative;
  transform: scale(0.35);
  left: -35%;
  position: absolute;
  top: -100%;
}

#sidebar {
  position: absolute;
  left: 20px;
  top: var(--top);
}

#input {
  position: absolute;
  right: 20px;
  top: var(--top);
  width: 400px;
}

body {
  background-image: url('/img/rainbow,lindsay-saunders.jpg');
  background-repeat: no-repeat;
  background-size: auto;
}

.vis-item {
  color: orange;
}

.vis-text {
  color: orange;
}

.vis-timeline {
  border: none;
}

.vis-background {
  display: none;
}

li > label {
  color: var(--color);
}

.blur {
  filter: blur(0.2rem);
}

textarea {
  background-color: transparent;
  border: 1px dashed orange;
  color: var(--color);
}

label {
  color: var(--color);
}

dialog > h3 {
  color: var(--color);
}

dialog {
  background: transparent;
  border: none;
  box-shadow: 0 0 2em thistle;
}

dialog[open]

.blur {
  filter: blur(0.2rem);
}

.no-blur {
  filter: blur(0);
}

.text-label {
  color: var(--color);
}

table, thead, tbody, tr, th, td {
  color: var(--color);
}