<!DOCTYPE html>
<html lang="en" ng-app="casgApp">
  <head>
    <base href="/" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <title>my.graphplot.app</title>

    <!-- General dependencies -->
    <script type="text/javascript" src="jquery.min.js"></script>
    <script type="text/javascript" src="angular.min.js"></script>
    <script type="text/javascript" src="angular-route.min.js"></script>
    <script type="text/javascript" src="angular-sanitize.min.js"></script>

    <script type="text/javascript" src="popper.min.js"></script>
    <script type="text/javascript" src="bootstrap.min.js"></script>
    <script type="text/javascript" src="ui-bootstrap-tpls.js"></script>

    <!-- casg dependencies -->
    <script type="text/javascript" src="casg/peg.js"></script>
    <script type="text/javascript" src="casg/remotestorage.js"></script>
    <script type="text/javascript" src="casg/widget.js"></script>
    <script type="text/javascript" src="casg/openpgp.min.js"></script>

    <script type="text/javascript" src="casg/casgApp.js"></script>
    <script type="text/javascript" src="casg/casgApp.config.js"></script>

    <!-- css includes -->
    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="ui-bootstrap-csp.css">
    <link rel="stylesheet" href="casg/casg.css">
  </head>
  <body ng-controller="MainCtrl">
    <div class="container-fluid">
      <div class="row">
        <nav class="col-sm-3">
          <header>
            <h5><a href="#">my.graphplot.app</a></h5>
            <i>a Social Cartography undertaking</i>
          </header>
          <hr>

          <div class="menu">
            <ul>
              <label>Storage Management</label>
              <li><a ng-if="RS.remote.userAddress" ng-href="#" ng-click="configureStorage();">{{RS.remote.userAddress}}</a></li>
              <li><a ng-if="!RS.remote.userAddress" href="#" ng-click="configureStorage()">Configure RemoteStorage</a></li>
              <li id="remote-storage-configuration"></li>
            </ul>
            
            <ul>
              <label>Key Management</label>

              <ul class="itemList">
                <label>
                  (Private) Key Pairs
                  <a href="#" ng-click="generateKeyPair()" data-toggle="tooltip" title="Generate Key Pair">+</a>
                  <a href="#" ng-init="showKeyPairUpload = false" data-toggle="tooltip" title="Import Key Pair" ng-click="showKeyPairUpload = true;">↑</a>
                  <div ng-show="showKeyPairUpload">
                    <input id="key-pair-upload" type="file">
                    <a href="#" ng-click="importKeyPair()">Import</a>
                  </div>

                </label>
                <li ng-repeat="keyPair in keyPairs track by $index">
                  <a href="#" data-toggle="tooltip" title="Activate Key Pair" ng-if="keyPair && (currentKeyPair != keyPair)" ng-click="setCurrentKeyPair(keyPair)">&#128275;</a>
                  <a href="#" data-toggle="tooltip" title="Deactivate Key Pair" ng-if="keyPair && (currentKeyPair == keyPair)" ng-click="setCurrentKeyPair(null)">&#128274;</a>
                  <a href="#" data-toggle="tooltip" title="Export Key Pair to Device" ng-if="keyPair" ng-click="exportToDevice(keyPair)">↓</a>
                  <a href="#" data-toggle="tooltip" title="Share Public Key to Web" ng-if="keyPair" ng-click="exportToWeb(keyPair)">→</a>
                  <a href="#" data-toggle="tooltip" title="Delete Key Pair" ng-if="keyPair" ng-click="removeKeyPair(keyPair)">✗</a>
                  {{keyPair.title}}
                </li>
              </ul>

              <ul>
                <label>Own Public Keys</label>
                <li ng-repeat="publicKey in ownPublicKeys track by $index">
                  <a href="#" data-toggle="tooltip" title="Delete Public Key Listing" ng-if="publicKey.publicUrl" ng-click="removePublicKeyListing(publicKey)">✗</a>
                  <a target="_blank" data-toggle="tooltip" title="Link for Public Key Listing" ng-href="{{publicKey.publicUrl}}">{{publicKey.title}}</a>
                </li>
              </ul>

              <ul>
                <label>
                  Others' Public Keys
                  <a href="#" data-toggle="tooltip" title="Import Foreign Public Key" ng-click="importPublicKey()">←</a>
                </label>
                <li ng-repeat="publicKey in othersPublicKeys track by $index">
                  <input type="checkbox" ng-model="selectedPublicKeys[publicKey]" ng-if="publicKey" />
                  <a href="#" data-toggle="tooltip" title="Remove Foreign Public Key" ng-if="publicKey" ng-click="removeOthersPublicKey(publicKey)">✗</a>
                  {{publicKey.title}}
                </li>
              </ul>
            </ul>
            
            <ul>
              <label>
                Graphs
                <a ng-if="currentKeyPair" href="#" ng-click="createGraph()">+</a>
                <a ng-if="currentKeyPair" href="#" ng-click="loadGraphs()">↻</a>
                <a href="#" ng-init="showGraphUpload = false" data-toggle="tooltip" title="Import Graph" ng-click="showGraphUpload = true;">↑</a>
                  <div ng-show="showGraphUpload">
                    <input id="graph-upload" type="file">
                    <a href="#" ng-click="importGraph()">Import</a>
                  </div>
              </label>
              <li ng-repeat="graph in graphs track by $index">
                <a ng-if="graph && !graph.reason" href="#" data-toggle="tooltip" title="Load" ng-click="currentGraph = graph; playGraph(graph);">►</a>
                <a ng-if="graph" href="#" data-toggle="tooltip" title="Remove Graph" ng-click="removeGraph(graph)">✗</a>
                <a ng-if="graph && !graph.reason" href="#" data-toggle="tooltip" title="Clone Graph" ng-click="cloneGraph(graph)">++</a>
                <a ng-if="graph" href="#" data-toggle="tooltip" title="Download Graph" ng-click="downloadGraph(graph)">↓</a>

                <i ng-if="graph && (currentGraph == graph)">*</i>
                <span ng-if="!graph.reason">{{graph.title}}</span>
                <span ng-if="graph.reason"><strike>{{graph.title}}</strike></span>
              </li>
            </ul>
            
            <ul ng-if="currentGraph">
              <label>Current Graph</label>
              {{Entity.all.length}} Entities

              <li><a href="#" target="_self" ng-click="gatherAndProcess()">Enter Command</a></li>
              <li ng-if="currentKeyPair"><a href="#" ng-click="saveGraph()">Save</a></li>

              <label>Commands</label>
              <li ng-repeat="command in currentGraph.commands track by $index">
                
                <a ng-if="command" href="#" data-toggle="tooltip" title="Remove Entity" ng-click="removeCommand($index)">✗</a>
                {{command}}
              </li>

            </ul>

            <!--
            <ul ng-if="currentGraph">
              <label>Entities of Current Graph</label>
              <li ng-repeat="entity in Entity.all">
                <a ng-if="entity" href="#" data-toggle="tooltip" title="Remove Entity" ng-click="removeEntity(entity)">✗</a>
                {{entity.name}} ({{entity.type}})
              </li>
            </ul>
            -->

            
            <!--
            <ul>
              <label>Graph Editing</label>
              <li>
                <label>Vertices
                  <a href="#" ng-click="addVertex()">+</a>
                </label>
                <ul>
                  <li ng-repeat="vertex in vertices">
                    <a ng-if="vertex !== undefined" href="#" ng-click="removeVertex(vertex)">✗</a>
                    {{vertex}} - {{vertex.options.label.text || "Unnamed Vertex"}}
                  </li>
                </ul>
              </li>

              <li>
                <label>Edges
                  <a href="#" ng-click="addEdge()">+</a>
                </label>
                <ul>
                  <li ng-repeat="edge in edges">
                    <a ng-if="edge !== undefined" href="#" ng-click="removeEdge(edge)">✗</a>
                    {{edge}}
                  </li>
                </ul>
              </li>
            </ul>
            -->

            <ul>
              <li>Sorry, I lost the manual... here's the rundown:</li>
              <li>All data is saved to your browser, if you don't sign in to RemoteStorage.js.</li>
              <li>Create a keypair. (Name, email address, password)</li>
              <li>Create a graph. (Name)</li>
              <li>Create a vertex: Hello</li>
              <li>Create another vertex: World</li>
              <li>Create an edge:
                <ul>
                  <li>An edge from 1 to 2: Hello&lt;World</li>
                  <li>An edge from 2 to 1: Hello&gt;World</li>
                  <li>An edge from 1 to 2, with an intermediary: Hello@World</li>
                </ul>
              </li>
            </ul>

          </div>
        </nav>

        <dic class="col-sm-9 vw-100 vh-100">

          <div id="display" class="w-100 h-100">
            <div id="labels"></div>
            <canvas id="canvas" class="w-100 h-100"></canvas>
          </div>

        </div>

        <!--
        <ng-view class="col-sm-9 v-100 h-100"></ng-view>>
        -->
      </div>
      
    </div>


    <!-- fourd dependencies -->
    <script type="text/javascript" src="fourd/r90.three.min.js"></script>
    <script type="text/javascript" src="fourd/FlyControls.js"></script>
    <script type="text/javascript" src="fourd/OrbitControls.js"></script>
    <script type="text/javascript" src="fourd/THREEx.WindowResize.js"></script>
    <script type="text/javascript" src="fourd/jquery-ui.min.js"></script>
    <script type="text/javascript" src="fourd/fourd.js"></script>

  </body>
</html>
