<br>
<div id="intro" class="intro">
  <p>Welcome, welcome, welcome!</p>
  <p>You have found social-cartography.net. I have been working on this in various iterations for the past decade, but I'll try to keep this short. You know how today's web applications have contact lists for us, and folders if we're lucky? That's a fine analogy to a paper list, but a computer can do so much more! A computer can display graphs, which are more realistic depictions of human interaction than lists. So social cartography is my attempt to visualize social relationships in four dimensions, 3D and time.  </p>
</div>